<h3 class="card-title unisimon-titulo" style="padding-top:2%; ">Créditos</h3>

<div class="row " style="background-color: #fff;">
    <div class="col unisimon-content" style="height: unset;">
        <div class="col-12">
            <div class="card">
                <form class="row solicitudes-f" [formGroup]="formSolicitudes" (ngSubmit)="consultarCredito(formSolicitudes.value)">
                    <div class="content-other-toggle">
                        <mat-label>Solicitudes</mat-label><br>
                        <span class="other-toggle mat-slide-toggle-content">PENDIENTES</span>
                        <mat-slide-toggle class="example-margin" formControlName="solicitudes" [color]="color">
                            PROCESADAS
                        </mat-slide-toggle>
                    </div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Código</mat-label>
                        <input matInput autocomplete="off" formControlName="codigo">
                        <mat-error *ngIf="f.codigo.errors?.required">
                            El Código es obligatorio
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Estudiante</mat-label>
                        <input matInput autocomplete="off" formControlName="estudiante">
                        <mat-error *ngIf="f.estudiante.errors?.required">
                            El estudiante es obligatorio
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Línea de Crédito</mat-label>
                        <mat-select formControlName="credito">
                            <mat-option value="1">ICETEX</mat-option>
                        </mat-select>
                        <mat-error *ngIf="f.credito.errors?.required">Por favor elegir una línea de crédito
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Sub linea de credito</mat-label>
                        <mat-select formControlName="subcredito">
                            <mat-option value="1">SUMA Alianza por B</mat-option>
                        </mat-select>
                        <mat-error *ngIf="f.subcredito.errors?.required">Por favor elegir una sub línea de crédito
                        </mat-error>
                    </mat-form-field>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" [disabled]="!formSolicitudes.valid" type="submit">
                        <mat-icon>search</mat-icon>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col unisimon-content" style="height: unset;">
        <div class="col-12">
            <div class="card">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <a class="rounded-circle" (click)="getSolicitudDetalle(element.id)">
                                    <i class="ico-eye"></i>
                                </a>
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Solicitud</th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
                            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="valor">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Solicitado </th>
                            <td mat-cell *matCellDef="let element"> ${{element.valor}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>


            </div>
        </div>
    </div>
</div>