
@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('BarlowCondensed-Regular.eot?#iefix') format('embedded-opentype'),  url('BarlowCondensed-Regular.woff') format('woff'), url('BarlowCondensed-Regular.ttf')  format('truetype'), url('BarlowCondensed-Regular.svg#BarlowCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
